pipeline/22_webactivity_example.json
{
	"name": "22_webactivity_example",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_errormsg_web",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_webactivity_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "errormsg",
					"value": {
						"value": "@activity('Copy data1').output.errors[0].message",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"errormsg": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-12-24T10:34:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}