pipeline/3_Assesmentsetvariable.json
{
	"name": "3_Assesmentsetvariable",
	"properties": {
		"activities": [
			{
				"name": "personname",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "personname",
					"value": "sateesh"
				}
			},
			{
				"name": "getage",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "personname",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "age",
					"value": "29"
				}
			},
			{
				"name": "gender",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "gender",
					"value": "Male"
				}
			},
			{
				"name": "location",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "gender",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "location",
					"value": "Vizag"
				}
			},
			{
				"name": "msg",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "location",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "msg",
					"value": {
						"value": "@concat('person name is ', variables('personname'), ', age is ', variables('age'), ', gender is ', variables('gender'), ' and location is ', variables('location'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"personname": {
				"type": "String"
			},
			"age": {
				"type": "String"
			},
			"gender": {
				"type": "String"
			},
			"location": {
				"type": "String"
			},
			"msg": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-12-10T02:36:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}