pipeline/8_1copyactivity_wildcarddate.json
{
	"name": "8_1copyactivity_wildcarddate",
	"properties": {
		"activities": [
			{
				"name": "getfilename",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dt",
					"value": {
						"value": "@formatDateTime(utcNow(),'ddMMyyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "getfilename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "inbound1",
							"wildcardFileName": {
								"value": "@concat('*',variables('dt'),'*')",
								"type": "Expression"
							},
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_inboundwildcard",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_outbound",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"dt": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-12-13T11:17:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}