pipeline/pipeline5.json
{
	"name": "pipeline5",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "str",
					"value": {
						"value": "@concat('{\n    \"to\":\"',variables('to'),'\",\n     \"subject\":\"',concat(pipeline().DataFactory,' ',pipeline().Pipeline,' ',pipeline().TriggerTime),'\",\n     \"body\":\"This is test email\"\n}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-73.eastus.logic.azure.com:443/workflows/48186c82e3ef4955804e0b671ce69628/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=7qcN8dUKISBFKsiQxZgQPsG_cCD7JemoS_jCfYO26ig",
					"body": {
						"value": "@variables('str')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"to": {
				"type": "String",
				"defaultValue": "bsurya1009@gmail.com"
			},
			"str": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-09-04T07:22:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}